.wcn-container {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #DCDDDE;
    margin-bottom: 20px;
    text-align: center;


  .wcn-bodyText {
      padding: 8px 200px;
      .wcn-audio {
         /* width: 100%;*/
          right: 0px;
          position: absolute;
          .icon {
              text-align: right;
              padding: 0px 5px;
              float: right;
          }
      }
      .wcn-inner {
        .wcn-title-inner{
          font-weight: 700;
          padding-bottom: 8px;
          text-align: center;
          text-transform: uppercase;
        }
        .title-inner{
          text-align: center;
          margin-bottom: 8px;
          color: #102a3e;
        }
        .warning {
          color: #ff0000;
        }
        .caution {
          color: #ffa804;
        }
        .note {
          color: #0101ff;
        }
      }

  }

}
